$MainColor: #a5bcc9;
$MarginContainer: 5%;

/* HTML5 selectors */
article {
	color: #000;
	background-color: $MainColor;
}

aside {
	/*
	color: #fff;
	background-color: #c0392b
	*/
	background-color: #f2f2f2;
	border: 3px inset $MainColor;
}
footer {
	color: #fff;
	background-color: #16a085;
	padding: 1em;
}

img {
	 margin: 10px auto;
	 width: 100%;
	 display: block;
}

a:hover {
		color: #096e87;
}

/* New selectors */
small {
	font-size:0.7em;
	font-family:inherit;
}

/* Classes */

/* SCSS nesting */
.MyContainer {
		margin: 0 $MarginContainer;
		padding: 1px;
		.row {
		   border:1px solid $MainColor;
		}
}

.ColorGrid {
	background-color: #d2d2d2;
}

/* *IDs */
#message_zone {
 	  margin: 2px $MarginContainer-1;
		padding: 0.5em 0.5em 0 0.5em;
		border:1px solid $MainColor;
		text-align: center;
		font-style: italic;
		display:none;
}

/* MEDIA RULES */
@media screen and (max-width: 600px) {
  small {
		font-size:1em;
		font-family:serif;
  }
	/* Inheritance */ 
	%CommonTitles {
		font-weight: bold;
	}
	h1 {
		@extend %CommonTitles;
		font-size: 110%;
	}
	h2 {
		@extend %CommonTitles;
		font-size: 90%;
	}
	h3 {
		@extend %CommonTitles;
		font-size: 80%;
	}
}
